<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicstats" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar">
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".launch.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".launch.AddActivity" >
        </activity>
        <activity android:name=".charts.ChartsActivity" >
        </activity>
        <activity android:name=".charts.ChartItemActivity" >
        </activity>
        <activity android:name=".awards.AwardsActivity" >
        </activity>
        <activity android:name=".awards.AwardItemActivity" >
        </activity>
        <activity android:name=".artists.ArtistItemActivity" >
        </activity>
        <activity android:name=".artists.ArtistsActivity" >
        </activity>
        <activity android:name=".favourite.FavouriteActivity" >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAR3wQQWGzbH7S0qNHuDtuGpWP7DvymBHQ"/>
    </application>

</manifest>